MONGO_URI= # mongodb URI goes here
JWT_SECRET= # JWT secret goes here
TWILIO_ACCOUNT_SID= # Twilio account SID goes here
TWILIO_AUTH_TOKEN= # Twilio auth token goes here
TWILIO_PHONE_NUMBER= # Twilio phone number goes here
DB_NAME= # Database name goes here
RAZORPAY_ID_KEY= # Razorpay ID key goes here
RAZORPAY_SECRET_KEY= # Razorpay secret key goes here

# Firebase

FIREBASE_API_KEY= 
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=